:root {
  --gray-text: #a5a5a5;
  --light-gray-text: #e9e9e9;
}

.landing__container {
  background-color: #1b1b1b;
  padding-top: 4rem;
  background-image: url(https://obsidian.md/images/starfield.svg);
  min-height: 100vh;
}

.landing__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 50px 20px 50px;
  padding: 14px;
  color: var(--light-gray-text);
  line-height: 1.5;
}

.landing__text-header{
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 800;
  max-width: 900px;
  background: #fff;
  /* background: -webkit-linear-gradient(45deg, #15a4f7, #17ffd8 80%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing__text-description{
  font-size: 22px;
  margin-top: 0;
  max-width: 650px;
  font-weight: 300;
}

.landing__buttons {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.landing__ask {
  margin: 20px 10px 10px;
  text-decoration: underline;
  color: var(--gray-text);
  cursor: help;
  font-size: 16px;
  
}

.landing__image{
  margin: 0px 0 300px;
  max-width: 200px;
}

@media screen and (max-width: 820px) {
  .landing__buttons {
    flex-direction: column;
    height: 100px;
  }
}


