:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--blue {
  background-color: #fff;
  color: #26a0da;
  border: 2px solid #26a0da;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.btn--wide {
  padding: 12px 56px;
  font-size: 18px !important;
}

@media screen and (max-width: 960px) {
  .btn--evoblue {
    max-width: fit-content !important;
  }
}

/* official evoblue */
.btn--evoblue {
  border-radius: 5px;
  border: 1.5px solid rgb(138, 138, 138);
  background: transparent;
  color: #fff;
  font-weight: 400;
  transition: 0.4s;
  
}

.btn--evoblue:hover {
  border: 1.5px solid rgb(47, 163, 240);
  background: linear-gradient(30deg, rgb(47, 163, 240) 0%, rgb(24, 175, 150) 100%);
  color: #fff;
  box-shadow: 0px 0px 0px 4px rgba(38, 161, 218, 0.14);
}
