:root {
  --gray-text: #a5a5a5;
  --light-gray-text: #e9e9e9;
}

.uji-hipotesis__container {
  background-color: #1b1b1b;
  padding-top: 150px;
  background-image: url(https://obsidian.md/images/starfield.svg);
  min-height: calc(80vh - 100px);
}

.uji-hipotesis__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 50px 20px 50px;
  padding: 14px;
  color: var(--light-gray-text);
  line-height: 1.5;
}

.uji-hipotesis__text-header{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 800;
  max-width: 900px;
  color: #fff;
  /* background: -webkit-linear-gradient(45deg, #15a4f7, #17ffd8 80%); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.uji-hipotesis__text-description{
  font-size: 18px;
  margin-top: 0;
  max-width: 900px;
  font-weight: 300;
}

.uji-hipotesis__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 430px;
}

.uji-hipotesis__ask {
  margin: 20px 10px 10px;
  text-decoration: none;
  color: var(--gray-text);
  cursor: help;
  font-size: 14px;
  
}

@media screen and (max-width: 420px) {

  .uji-hipotesis__text {
    margin: auto;
  }
}


