.navbar {
  background: rgba(22, 22, 22, 0.0);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo {
  color: #ebebeb;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.0rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  margin-right: 0.8rem;
  max-width: 30px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  flex: end;
}

.nav-item {
  /* border-bottom: 2px solid white; */
  transition: 0.5s;
}

.nav-item:hover {
  /* background-color: rgb(253, 253, 253); */
  /* border-bottom: 4px solid #c8596b; */
}

.nav-links {
  /* font-family: 'Barlow Condensed', sans-serif; */
  color: #d1d1d1;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: 0.31s;
  font-size: 16px;
}

.nav-links:hover {
  color: #37c1da;
}

.fa-bars {
  color: #276788;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar__logo {
    max-width: 70px;
    position: absolute;
    top: 0;
    margin-left: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1d1d1d;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #c8596b;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(30px, -10px);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #276788;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}

.logo-title{
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 2px;
}