* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #202020;
  margin: 0;
  
  color: white;
}

code {
  color: white;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  min-height: 80px;
}
